<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Wane</string>
	<key>CFBundleExecutable</key>
	<string>Wane</string>
	<key>CFBundleIdentifier</key>
	<string>app.wane.Wane</string>
	<key>CFBundleIconFile</key>
	<string>WaneIcon</string>
	<key>CFBundleName</key>
	<string>Wane</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.000</string>
	<key>CFBundleVersion</key>
	<string>0.000</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://wane.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>WPgzx2GIqY8DUPWOe6OuHrr1BecMrHaoUknSdM245dw=</string>
</dict>
</plist>
